body{
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
  font-weight: bold;
  background-image: linear-gradient(to bottom, aqua, blue);
}



#upgradebtn{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  animation-name: chroma;
  animation-duration: 5s;
  animation-iteration-count: 100;
  background: gray;
  margin: 0px;
  opacity: 0;
}
#upgradebtn:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}

#cookie{
  margin: 0px;
  padding: 0px;
  cursor: pointer;

}
#cookie:hover{
  margin: 0px;
  padding: 0px;
}
@keyframes chroma{
  0% {color: red;}
  20% {color: orange;}
  40% {color: rgb(7, 61, 0);}
  60% {color: green;}
  80% {color: blue;}
  100% {color: red;}
}
#grandmalol{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  color: orange;
  background: gray;
  margin: 0px;
  opacity: 0;
}

#grandmalol:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}
#grandmalol:active{
  background-color: black;
}


#chef{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  color: rgb(0, 255, 55);
  background: gray;
  margin: 0px;
  opacity: 0;
}

#chef:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}
#chef:active{
  background-color: black;
}


#factory{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  color: blue;
  background: gray;
  margin: 0px;
  opacity: 0;
}

#factory:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}
#factory:active{
  background-color: black;
}

#showUpgrades{
  font-size: 35px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  animation-name: purplegradient;
  animation-duration: 3s;
  animation-iteration-count: 1000;
  background: gray;
  margin: 0px;
}

#showUpgrades:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}

#showUpgrades:active{
  background-color: black;
}

@keyframes purplegradient{
  0% {color: purple;}
  50% {color: rgb(185, 0, 185);}
  100% {color: purple;}
}
#homebutton{
color: red;
}

#HighSpeedProcessor{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  color: rgb(59, 0, 73);
  background: gray;
  margin: 0px;
  opacity: 0;
}

#HighSpeedProcessor:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}
#HighSpeedProcessor:active{
  background-color: black;
}
#CookieHacker{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  color: rgb(255, 0, 0);
  background: gray;
  margin: 0px;
  opacity: 0;
}
#CookieHacker:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}

#CookieHacker:active{
  background-color: black;
  cursor: pointer;
}

#robot{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  color: rgb(255, 111, 219);
  background: gray;
  margin: 0px;
  opacity: 0;
}
#robot:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}

#robot:active{
  background-color: black;
}
#robot2{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  color: rgb(111, 197, 255);
  background: gray;
  margin: 0px;
  opacity: 0;
}
#robot2:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}

#robot2:active{
  background-color: black;
}

#thanks{
  background: green;
  color: black;
  border: 3px solid orange;
  text-decoration: none;
  border-radius: 10px;
  padding: 3px;
}

#thanks:hover{
  background: darkgreen;
}
#halloween{
  background: black;
  color: white;
  border: 3px solid orange;
  text-decoration: none;
  border-radius: 10px;
  padding: 3px;
}

#halloween:hover{
  background: rgb(100, 65, 0);
}
#christmas{
  background: rgb(255, 0, 0);
  color: black;
  border: 3px solid rgb(0, 255, 0);
  text-decoration: none;
  border-radius: 10px;
  padding: 3px;
}

#christmas:hover{
  background: rgb(100, 0, 0);
}
#bakery{
  border-radius: 20px;
  animation-name: bakery;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}
@keyframes bakery{
  0% {background-color: red;}
  20% {background-color: orange;}
  40% {background-color: rgb(7, 61, 0);}
  60% {background-color: green;}
  80% {background-color: blue;}
  100% {background-color: red;}
}