body{
  text-align: center;
  font-family: Comic Sans MS;
  font-weight: bold;
  background-image: url("images/tw.jpg");
  background-size: cover;
  color: orange;
  
}

#upgradebtn{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  animation-name: chroma;
  animation-duration: 5s;
  animation-iteration-count: 100;
  background: gray;
  margin: 0px;
}
#upgradebtn:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}

#cookie{
  margin: 0px;
  padding: 0px;
  background: rgb(173, 55, 0);
  border: 5px solid black;
  border-radius: 5px;
}

@keyframes chroma{
  0% {color: red;}
  20% {color: orange;}
  40% {color: rgb(7, 61, 0);}
  60% {color: green;}
  80% {color: blue;}
  100% {color: red;}
}
#grandmalol{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  color: orange;
  background: gray;
  margin: 0px;
}

#grandmalol:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}
#grandmalol:active{
  background-color: black;
}
#halloween{
  background-color: red
}
#chef{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  color: rgb(0, 255, 55);
  background: gray;
  margin: 0px;
}

#chef:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}
#chef:active{
  background-color: black;
}
h1{
  background-color: rgb(184, 52, 0);
  border: 5px solid black;

}

#factory{
  font-size: 25px;
  font-family: Comic Sans MS;
  font-weight: bold;
  text-align: center;
  border-radius: 10px;
  border: 5px solid black;
  color: blue;
  background: gray;
  margin: 0px;
}

#factory:hover{
  background-color: rgb(56, 56, 56);
  border-radius: 10px;
  margin: 0px;
}
#factory:active{
  background-color: black;
}